	<div class="container">
		<div class="page-header">
			<center> <h1>Agregar producto</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
             <h1>Ingrese Producto</h1>

			<form name="formAlta" align='center' enctype="multipart/form-data" >		
		
			<input type="text" ng-model="alta.nombre" placeholder="Ingrese nombre" required> 
			<input type="text" ng-model="alta.precio" placeholder="ingrese precio" required/>


				<input type="file"  nv-file-select uploader="uploader" class="btn btn-primary" required/><br/>
				<ul>
					<!-- Muestro los datos de los archivos a cargar -->
			        <li ng-repeat="item in uploader.queue">
			        	<!-- nombre del archivo -->
			            Archivo: <span ng-bind="item.file.name"></span><br/>
			            <!-- imagen del archivo -->
			            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div> 
			            <!-- boton upload. Lo puedo usar para carar las fotos o crear
			            	mi propia funcion y llamar a uploader.uploadAll() -->
			            <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
			                <span class="glyphicon glyphicon-upload"></span> Upload
			            </button> -->

			            <!-- boton cancel -->            
			            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
			                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
			            </button>

			            <!-- boton remove -->
			            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
			                <span class="glyphicon glyphicon-trash"></span> Remove
			            </button>
			        </li>		
			    </ul>

				<a class="btn btn-warning" name="guardar" ng-disabled="formAlta.$invalid" ng-click="guardar();cargar()" ng-if="!formAlta.$invalid" ><span class="glyphicon glyphicon-save">&nbsp;</span>Agregar Producto!</a>
					
				</div>

			</form>

			</div>
	</div>
