	<div class="container">
		<div class="page-header">
			<center> <h1>Agregar Usuario</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
             <h1>Ingrese Usuario</h1>

			<form name="formAlta" align='center' enctype="multipart/form-data" >
			 
				
			<input type="text" ng-model="alta.correo" placeholder="ingrese correo" required/>
			<input type="text" ng-model="alta.nombre" placeholder="Ingrese nombre" required> 
			<input type="text" ng-model="alta.clave" placeholder="Ingrese password" required> 		
			<hidden ng-init="alta.tipo='Cliente'"></hidden>
			<span ng-if="ConectadoAlta==true">
				<select  ng-model="alta.tipo" required>
				    	<option value="Administrador">Administrador</option>
				    	<option value="Encargado">Encargado</option>
				    	<option  value="Empleado">Empleado</option>
				    	<option  value="Cliente">Cliente</option>
			    </select>
			</span>

				<a class="btn btn-warning" name="guardar" ng-disabled="formAlta.$invalid" ng-if="!formAlta.$invalid" ng-click="guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Agregar Usuario!</a>
					
				</div>

			</form>

			</div>
	</div>
