	<div class="container">

		<select  ng-disabled="modo" ng-click="Buscar()" ng-model="tipo" style="width:30%">
			<option  value="todos">Todos</option>
	    	<option  value="Administrador">Administrador</option>
	    	<option  value="Encargado">Encargado</option>
	    	<option  value="Empleado">Empleado</option>
			<option  value="Cliente">Cliente</option>
	    </select>



		<div ng-if="!modo">
			
		<table class="table table-hover table-responsive">
			<tr>
				<th>ID</th>
			    <th>EMAIL</th>
			    <th>NOMBRE</th>
			    <th>TIPO</th>
			    <th>ID_LOCAL</th>
			</tr>
			<tr ng-repeat="usuario in listado track by $index">
				<td> {{usuario.id}} </td>
				<td> {{usuario.correo}} </td>
				<td> {{usuario.nombre}} </td>
				<td> {{usuario.tipo}} </td>
				<td> {{usuario.id_Local}} </td>
				


				<td ng-if="usuario.id>4 &&usuarioM.tipo!='Empleado'"> <button class="btn btn-default btn-primary" class="miBotonUtn" ng-click="borrar(usuario.id)"> Borrar </button> </td>
				<td ng-if="usuario.id>4 && usuarioM.tipo!='Empleado'"> <button class="btn btn-default btn-primary" ng-click="desplegarMod(usuario)"> Modificar </button> </td>

			</tr>			 
			    
		</table>
		</div>

			<div ng-if="modo">
				<div class="page-header">
			<center> <h1> Modificacion</h1>   </center>     
				</div>


				<form name="formAlta" class="tablas" enctype="multipart/form-data">
				<input type="text" ng-model="modificar.correo" placeholder="ingrese correo" required/>
				<input type="text" ng-model="modificar.nombre" placeholder="Ingrese nombre" required> 
				<input type="text" ng-model="modificar.clave" placeholder="Ingrese password" required> 		
				<select ng-model="modificar.tipo" ng-if="usuarioM.tipo!='Empleado'" >
			    	<option value="Encargado" ng-if="usuarioM.tipo=='Administrador'">Encargado</option>
			    	<option value="Empleado">Empleado</option>
			    	<option value="Cliente">Cliente</option>
			    </select>
			    <hidden ng-init="modificar.estado='desbloqueado'"></hidden>
			    <select  ng-model="modificar.id_Local"  required>
						<option value="0">Todos</option>
				    	<option ng-repeat="sucursal in listadoSucursales track by $index" value="{{sucursal.id_Local}}">{{sucursal.localidad}}</option>  
			    </select>

				<a class="btn btn-warning" name="guardar" ng-disabled="formAlta.$invalid" ng-if="!formAlta.$invalid" ng-click="actualizar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Editar usuario!</a>
					
				</div>
			</div>

			</form>