
<font color="black"><button ng-click="VentasPorProducto(listado)">Ventas Por Producto</button></font>
<font color="black"><button ng-click="VentasPorLocal(listado)">Ventas Por Local</button></font>
<font color="black"><button ng-click="PedidosPendientesPorLocal(listado)">Pendientes Por Local</button></font>

<div id="canvas-holder">
<center><canvas  id="chart-area"  width="300" height="300"></canvas></center>
<center><canvas  id="chart-area2" width="300" height="300"></canvas></center>
<center><canvas  id="chart-area3" width="600" height="300"></canvas></center>
<!--<canvas id="chart-area4" width="600" height="300"></canvas>-->
</div>


