	<div class="container">
		<div class="page-header">
			<center> <h1>Agregar oferta</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
             <h1>Ingrese la Oferta</h1>

			<form name="formAlta" id="formAlta" align='center' enctype="multipart/form-data" >
			<!-- <span>
				<input type="text" name="id_prod" ng-model="id_producto" placeholder="ingrese id del producto" required/>
					<a class="btn btn-warning" name="buscar" ng-if="!formAlta.id_prod.$invalid" ng-click="Buscar(id_producto)" >
					<span>&nbsp;</span>Buscar
					</a>
			</span>-->
			
				<input type="text" ng-model="alta.nombre" placeholder="Ingrese nombre" required> 
				<input type="text" ng-model="alta.costo" placeholder="Ingrese Costo" required> 
				<font color="black">Fecha:<input type="date" ng-model="alta.fecha"  required> </font>
				<input type="text" ng-model="alta.id_Local" placeholder="Ingrese id de la Sucursal" required> 

				<a class="btn btn-warning" name="guardar" ng-disabled="formAlta.$invalid" ng-if="!formAlta.$invalid && alta.fecha.getTime() >= fechaHoy.getTime()" ng-click="guardar()" >
				<span class="glyphicon glyphicon-save">&nbsp;</span>Agregar Oferta!</a>
							
				</div>

			</form>

			</div>
	</div>