<div class="container">
		<div ng-if="!modo">
		<table class="table table-hover table-responsive" align="center">
			<tr>
			    <th>NOMBRE</th> 
			    <th>COSTO</th>
			    <th>ID SUCURSAL</th>
			    <th>FIN DE OFERTA</th>
			    
			</tr>
			<tr ng-repeat="oferta in listado track by $index">

				<td> {{oferta.nombre}} </td>
				<td> {{oferta.costo}} </td>
				<td> {{oferta.id_Local}} </td>
				<td> {{oferta.fecha}} </td>
	
				<td ng-if="usuario.tipo!='Cliente' && usuario.id_Local == oferta.id_Local"> <button ng-click="desplegarMod(oferta)" class="btn btn-default btn-primary"> Modificar </button> </td>
				<!-- ng-if="usuario.tipo!='comprador'" -->
			</tr>			 
			    
		</table>
		</div>

			<div ng-if="modo">
				<div class="page-header">
			<center> <h1> Modificacion</h1>   </center>     
				</div>
				<form name="formAlta" class="tablas" enctype="multipart/form-data">
				<input type="text" ng-model="modificar.nombre" placeholder="Ingrese nombre" required> 
				<input type="text" ng-model="modificar.costo" placeholder="Ingrese Costo" required> 
				<font color="black">Fecha:<input type="date" ng-model="modificar.fecha"  required> </font>
				<input type="text" ng-model="modificar.id_Local" placeholder="Ingrese id de la Sucursal" required>


				<a class="btn btn-warning" name="guardar" ng-disabled="formAlta.$invalid" ng-if="!formAlta.$invalid && modificar.fecha.getTime() >= fechaHoy.getTime()" ng-click="actualizar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Editar Producto!</a>
					
				</div>
			</div>

			</form>