<div class="container">
		<div ng-if="!modo">
		<table class="table table-hover table-responsive" align="center">
			<tr>
			    <th>ID</th>
			    <th>DESCRIPCION</th> 
			    <th>PRECIO</th>
			    <th>CANTIDAD</th>
			   	<th>FECHA</th> 
			    <th>ID</th>
			    <th>ID_PRODUCTO</th>
			    
			</tr>
			<tr ng-repeat="pedido in listado track by $index">

				<td> {{pedido.id_pedido}} </td>
				<td> {{pedido.descripcion}} </td>
				<td> {{pedido.precio}} </td>
				<td> {{pedido.cantidad}} </td>
				<td> {{pedido.fecha}} </td>
				<td> {{pedido.id}} </td>
				<td> {{pedido.id_producto}} </td>

				<td> <button ng-click="desplegarMod(pedido)" class="btn btn-default btn-primary"> Modificar </button> </td>
				<!-- ng-if="usuario.tipo!='comprador'" -->
			</tr>			 
			    
		</table>
		</div>

			<div ng-if="modo">
				<div class="page-header">
			<center> <h1> Modificacion</h1>   </center>     
				</div>
				<form name="formAlta" class="tablas" enctype="multipart/form-data">
				<select  ng-model="modificar.descripcion"  required>
			    	<option ng-repeat="producto in listadoProductos track by $index" value="{{producto.nombre}}">{{producto.nombre}}</option>  
			    </select>
				<input type="text" ng-model="modificar.cantidad" placeholder="ingrese cantidad" required/>
				<input type="date" ng-model="modificar.fecha" placeholder="Ingrese nombre" required> 

				<a class="btn btn-warning" name="guardar" ng-disabled="formAlta.$invalid" ng-if="!formAlta.$invalid" ng-click="actualizar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Editar Producto!</a>
					
				</div>
			</div>

			</form>