<!--<div ng-if="Sucursal">
    	<ng-map center="[{{latitud}} , {{longitud}}]" style="width:500px; height:500px;">
   			<marker position ="[{{latitud}}, {{longitud}}]"></marker>
    	</ng-map>
</div>-->

<div class="container">
		<div ng-if="!modo">
		<table class="table table-hover table-responsive">
			<tr>
				<th>ID</th>
			    <th>LOCALIDAD</th>
			    <th>DIRECCION</th>
		
			   
			</tr>
			<tr ng-repeat="sucursal in listado track by $index">
				<td> {{sucursal.id_Local}} </td>
				<td> {{sucursal.localidad}} </td>
				<td> {{sucursal.direccion}} </td>
		
			
			<div>
			<td ng-if="SucursalVer==0"> <button class="btn btn-default btn-primary" class="miBotonUtn" ng-click="GPS(sucursal.latitud,sucursal.longitud,sucursal.id_Local)"> GPS </button> </td>
			</div>



			<div>
			<td ng-if="SucursalVer==1 && SucursalId == sucursal.id_Local"> <button class="btn btn-default btn-primary" class="miBotonUtn" ng-click="OCULTAR()"> OCULTAR</button> </td>
			</div>

			<td ng-if="VerOfertas==0" > <button class="btn btn-default btn-primary" class="miBotonUtn" ng-click="Ofertas(sucursal.id_Local)"> OFERTAS </button> </td>

			<td ng-if="VerOfertas==1 && IDLOCAL == sucursal.id_Local"> <button class="btn btn-default btn-primary" class="miBotonUtn" ng-click="OcultarOFERTA()"> OCULTAR OFERTAS</button> </td>

			<td ng-if="VerFotos==0" > <button class="btn btn-default btn-primary" class="miBotonUtn" ng-click="Fotos(sucursal.id_Local)"> FOTOS </button> </td>
			<td ng-if="VerFotos==1  && SucursalIdFoto == sucursal.id_Local"> <button class="btn btn-default btn-primary" class="miBotonUtn" ng-click="OcultarFotos()"> OCULTAR FOTOS</button> </td>
		

			

			</tr>			 
			    
			</table>
				<div ng-if="SucursalVer==1">
				<center>
		    	<ng-map center="[{{latitud}} , {{longitud}}]" style="width:500px; height:500px;">
		   			<marker position ="[{{latitud}}, {{longitud}}]"></marker>
		    	</ng-map>
		   		 </center>
				</div>

			<table ng-if="VerOfertas==1 " class="table table-hover table-responsive">
				<tr>
					<th>NOMBRE</th>
				    <th>COSTO</th>
				    <th>FIN DE FECHA</th>
				   
				</tr>
				<tr ng-repeat="oferta in listadoOferta track by $index">
					<td ng-if="oferta.id_Local == IDLOCAL"> {{oferta.nombre}} </td>
					<td ng-if="oferta.id_Local == IDLOCAL"> {{oferta.costo}} </td>
					<td ng-if="oferta.id_Local == IDLOCAL"> {{oferta.fecha}} </td>
				</tr>
			</table>

			<table ng-if="VerFotos==1 " class="table table-hover table-responsive">
				<tr>
					<th>FOTOS</th>
				   
				</tr>
				<tr ng-repeat="sucursal in listado track by $index">
					<td ng-if="sucursal.id_Local == SucursalIdFoto"> <img width="350" height="350" src="img/{{sucursal.foto1}}"></img></td>
					<td ng-if="sucursal.id_Local == SucursalIdFoto"><img width="350" height="350" src="img/{{sucursal.foto2}}"></img> </td>
					<td ng-if="sucursal.id_Local == SucursalIdFoto"> <img width="350" height="350" src="img/{{sucursal.foto3}}"></img></td>
				</tr>
			</table>

		</div>


